.month-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem;
}
.month-filter h1 {
	color: #66806a;
	min-width: 15rem;
	text-align: center;
	user-select: none;
}
.month-filter .picker {
	font-size: 1.8rem;
	margin: 1rem;
	cursor: pointer;
	color: #99a799;
	transition: color 0.3s ease-in-out;
}

.picker:hover {
	color: #66806a;
}
