@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

html {
	box-sizing: border-box;
	font-family: "Noto Sans JP", sans-serif;
	overflow-x: hidden;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
}
#root {
	height: 100vh;
}
