.habbit-check {
	background-color: #fef5ed;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 5px;
	border: 1px solid #adc2a9;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.habbit-check:hover {
	background-color: #99a799;
}

.habbit-check-checked {
	background-color: #66806a;
}
